@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

body {
  background-color: hsl(30, 38%, 92%);
}

.main-div {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 525px;
  margin: auto;
  margin-top: 210px;
  background-color: hsl(0, 0%, 100%);
}
.container {
  /* display:flex; */
  width: 50%;
  height: 100%;
}

.white-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

h6,
h3,
p {
  margin-left: 30px;
  margin-right: 45px;
}

h6 {
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
}

h3{
  font-size: 35px;
  letter-spacing: -1px;
  line-height: 1em;
  font-family: 'Fraunces', serif;
}

img {
  width: 100%;
}
